<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MonitorWang.Core.Properties.Settings.MonitorWangConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=MonitorWang;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>