<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="Castle.Windsor" version="2.5.3" />
  <package id="log4net" version="1.2.10" />
  <package id="Magnum" version="1.1.1.0" />
  <package id="nservicebus" version="2.5.0.1446" />
  <package id="nServiceBus.ObjectBuilder.CastleWindsor" version="2.5.1" />
</packages>