<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- START: Geckoboard Data Service Components -->
    <component id="GeckoboardDataServiceActivityConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Geckoboard.GeckoboardDataServiceActivityConfig, MonitorWang.Core">
      <parameters>
        <Enabled>true</Enabled>
        <!-- This must be the service implementation class name including the namespace -->        
        <ServiceImplementation>MonitorWang.Core.Geckoboard.GeckoboardDataService, MonitorWang.Core</ServiceImplementation>
        <!-- The base address that the service is available at
             Currently Geckoboard only supports Http at port 80 -->
        <Uri>http://localhost/Geckoboard</Uri>
        <!-- An ApiKey is set up on each Geckoboard widget. Use the same one and 
             set this value to it to ensure only requests with this ApiKey will be 
             returned your monitoring data. Omit this property or leave blank to disable 
             the ApiKey security -->
        <ApiKey></ApiKey>
      </parameters>
    </component>
    
        <component id="GeckoboardDataServiceConfig"
				       lifestyle="singleton"
				       type="MonitorWang.Core.Geckoboard.GeckoboardDataServiceConfig, MonitorWang.Core">
          <parameters>
            <!-- Possible values are SQLite, SqlServer -->
            <DataProvider>SqlServer</DataProvider>
          </parameters>
        </component>
    
        <component id="ColourPicker"
				       lifestyle="singleton"
               service="MonitorWang.Core.Geckoboard.IColourPicker, MonitorWang.Core"
				       type="MonitorWang.Core.Geckoboard.DefaultColourPicker, MonitorWang.Core">
          <parameters>
            <Reserved>
              <dictionary>
                <!-- This reserves LimeGreen for the label "Agent" -->
                <entry key="Agent">LimeGreen</entry>
                <!-- linecharts can reserve a colour by specifying the key
                     in the format "linechart.site.check" - this is case sensitive
                     though so the REST url site and check params must match this -->
                <entry key="linechart.siteid.checkid">Gold</entry>
              </dictionary>
            </Reserved>
            <Favourites>
              <list>
                <!-- This is a list of preferred colours to use first.
                     Add as many as you want, if MonitorWang runs out it
                     will start to generate random colours for you -->
                <item>Red</item>
                <item>Green</item>
                <item>Orange</item>
                <item>Blue</item>
              </list>
            </Favourites>            
          </parameters>
        </component>
    <!-- END: Geckoboard Data Service Components -->
    
    
    <!-- WCF basicHttp self-hosted ServiceHost -->
    <component id="WcfServiceHostConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Wcf.WcfServiceHostConfig, MonitorWang.Core">
      <parameters>
        <Enabled>false</Enabled>
        <!-- This must be the service implementation class name 
             including the namespace -->        
        <ServiceImplementation>MonitorWang.Core.Wcf.MonitorWangService, MonitorWang.Core</ServiceImplementation>
        <!-- The address of the service the WCF publisher will send to -->
        <Uri>http://localhost:802/MonitorWang</Uri>
      </parameters>
    </component>
  </components>
</configuration>