<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- START: BINDINGS -->

    <!-- Demo walk-thru component
    <component id="HelloWorldCheckBindingConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>MyHelloWorldCheckConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>
     -->
    
    <component id="MonitorWangExeFileInfoBindingConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>MonitorWangExeFileInfoConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>
    
    <component id="MonitorWangFolderInfoBindingConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>MonitorWangFolderInfoConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>Every90Seconds</ScheduleConfigurationName>
      </parameters>
    </component>
    
    <component id="OutputQueueInfoBindingConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>MonitorWangOutputQueueInfoConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>
    
    <component id="ErrorQueueEmptyBindingConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>MonitorWangErrorQueueEmptyConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>Every90Seconds</ScheduleConfigurationName>
      </parameters>
    </component>
    
    <component id="IsNotepadRunningBindingConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>IsNotepadRunning</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>
    
        
    <component id="IsMonitorWangRunningBindingConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>IsMonitorWangRunning</HealthCheckConfigurationName>
        <ScheduleConfigurationName>Weekdays9to5</ScheduleConfigurationName>
      </parameters>
    </component>
    
    
    <component id="MonitorWangDatabaseHasResultsBindingConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>MonitorWangDatabaseHasResults</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>
    
    
    <component id="WindowsServicesAreRunningBindingConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>WindowsServicesAreRunning</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>
    
    
    <component id="WindowsServicesStartupTypesCorrectBindingConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>WindowsServicesStartupTypesCorrect</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>

    
    <component id="UrlPingMySitesBindingConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>UrlPingMySites</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>
    
    <!-- END: BINDINGS -->
  </components>
</configuration>