<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- START: CHECK CONFIGURATIONS -->
    
    <!-- Demo walk-thru component
    <component id="MyHelloWorldCheckConfig"
         lifestyle="singleton"
         type="HelloWorldHealthCheck.HelloWorldCheckConfig, HelloWorldHealthCheck">
      <parameters>
        <FriendlyId>HelloWorldCheck</FriendlyId>
        <Enabled>true</Enabled>
        <MyCustomSetting>Hello World!!</MyCustomSetting>
      </parameters>
    </component> 
     -->
    
    <component id="MonitorWangExeFileInfoConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Checks.FileInfoCheckConfig, MonitorWang.Core">
      <parameters>
        <FriendlyId>FileInfoCheck</FriendlyId>
        <Enabled>false</Enabled>
        <FileLocation>monitorwang.agent.exe</FileLocation>
      </parameters>
    </component>
    
    <component id="MonitorWangFolderInfoConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Checks.FolderInfoCheckConfig, MonitorWang.Core">
      <parameters>
        <FriendlyId>FolderInfoCheck</FriendlyId>
        <Enabled>false</Enabled>
        <FolderLocation></FolderLocation>
      </parameters>
    </component>
    
    <component id="MonitorWangOutputQueueInfoConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Checks.MsmqQueueInfoCheckConfig, MonitorWang.Core">
      <parameters>        
        <FriendlyId>MonitorWangOutputQueueInfo</FriendlyId>
        <Enabled>false</Enabled>
        <QueueName>.\Private$\monitorwangoutput</QueueName>        
      </parameters>
    </component>
    
    <component id="MonitorWangErrorQueueEmptyConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Checks.MsmqQueueNotEmptyCheckConfig, MonitorWang.Core">
      <parameters>
        <FriendlyId>MonitorWangErrorQueueEmpty</FriendlyId>
        <Enabled>false</Enabled>
        <QueueName>.\Private$\monitorwangerror</QueueName>
      </parameters>
    </component>
    
    <component id="IsNotepadRunning"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Checks.WmiProcessRunningCheckConfig, MonitorWang.Core">
      <parameters>
        <FriendlyId>IsNotepadRunning</FriendlyId>
        <Enabled>true</Enabled>
        <RemoteMachineId>localhost</RemoteMachineId>
        <ProcessName>notepad.exe</ProcessName>
        <!-- optional
        <RemoteUser></RemoteUser>
        <RemotePwd></RemotePwd>
        -->
      </parameters>
    </component>    
    
    <component id="IsMonitorWangRunning"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Checks.WmiProcessRunningCheckConfig, MonitorWang.Core">
      <parameters>
        <FriendlyId>IsMonitorWangRunning</FriendlyId>
        <Enabled>false</Enabled>
        <RemoteMachineId>localhost</RemoteMachineId>
        <ProcessName>monitorwang.agent.exe</ProcessName>
        <!-- optional
        <RemoteUser></RemoteUser>
        <RemotePwd></RemotePwd>
        -->
      </parameters>
    </component>    
    
    <component id="MonitorWangDatabaseHasResults"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Checks.SqlScalarCheckConfig, MonitorWang.Core">
      <parameters>
        <FriendlyId>MonitorWangDatabaseHasResults</FriendlyId>
        <Enabled>false</Enabled>
        <!-- This can be either the name of a connection string 
             (in config\data.connection.config) or an actual connection string -->
        <ConnectionString>MonitorWang</ConnectionString>
        <FromQuery>FROM dbo.AgentData WHERE EventType = 'Result'</FromQuery>
        <InterpretZeroRowsAsAFailure>true</InterpretZeroRowsAsAFailure>
        <PublishOnlyIfFailure>false</PublishOnlyIfFailure>
      </parameters>
    </component>    
    
    
    <component id="WindowsServicesAreRunning"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Checks.WindowsServiceStateCheckConfig, MonitorWang.Core">
      <parameters>
        <FriendlyId>WindowsServicesAreRunning</FriendlyId>
        <Enabled>false</Enabled>
        <Services>
          <list>
            <!-- The display or short windows service name -->
            <item>DHCP Client</item>
            <item>DNS Client</item>
          </list>
        </Services>
        <!-- The name of the server (use . for local or leave blank)
             This can also be a remote server name -->
        <Server></Server>
        <!-- Valid states are: Running or Stopped -->
        <ExpectedState>Running</ExpectedState>
      </parameters>
    </component>    
        
    <component id="WindowsServicesStartupTypesCorrect"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Checks.WindowsServiceStartupCheckConfig, MonitorWang.Core">
      <parameters>
        <FriendlyId>WindowsServicesStartupTypesCorrect</FriendlyId>
        <Enabled>false</Enabled>
        <Services>
          <list>
            <!-- The display or short windows service name -->
            <item>DHCP Client</item>
            <item>Computer Browser</item>
          </list>
        </Services>
        <!-- The name of the server (use . for local or leave blank)
             This can also be a remote server name -->
        <Server></Server>
        <!-- Valid startup types are: Auto, Manual & Disabled -->
        <ExpectedStartupType>Auto</ExpectedStartupType>
      </parameters>
    </component>
    
    <component id="UrlPingMySites"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Checks.UrlPingCheckConfig, MonitorWang.Core">
      <parameters>
        <FriendlyId>UrlPingMySites</FriendlyId>
        <Enabled>false</Enabled>
        <Urls>
          <list>
            <!-- Add urls as new item elements below -->
            <item>http://jimblogdog.blogspot.com</item>
          </list>
        </Urls>
        <!-- Set the maximum response time in milliseconds 
             Use 0 (zero) or blank to disable -->
        <FailIfResponseMillisecondsOver>1000</FailIfResponseMillisecondsOver>
        <!-- Set to --> 
        <PublishOnlyIfFailure>true</PublishOnlyIfFailure>
      </parameters>
    </component>
    
    <!-- END: CHECK CONFIGURATIONS -->
  </components>
</configuration>