<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- This filter, if uncommented will execute for all publishers
         and checks (this is the *). Use it to only publish true or
         false results. You can also attach it to a specific publisher
         or check by setting the appropriate field below to the "friendly id"
         of the check or publisher
    <component id="ResultFilter"
				   lifestyle="transient"
				   type="MonitorWang.Core.Filters.SuccessFilter, MonitorWang.Core">
      <parameters>
        <Publisher>Growl</Publisher>
        <Check>*</Check>
        <PublishSuccess>true</PublishSuccess>
        <PublishFailure>true</PublishFailure>
      </parameters>
    </component>
    -->

    <component id="GrowlAppStatsFilter"
				   lifestyle="transient"
				   type="MonitorWang.Core.Filters.EventTypeFilter, MonitorWang.Core">
      <parameters>
        <Publisher>Growl</Publisher>
        <Check>*</Check>
        <IgnoreTheseTypes>
          <list>
            <item>AppStat</item>
          </list>
        </IgnoreTheseTypes>
      </parameters>
    </component>

  </components>
</configuration>