<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <!-- Valid Values for HigherPriority, LowerPriority are VeryLow, Normal, Moderate, High, Emergency -->
    <!--
    <component id="GlobalGrowlCountNotificationFinaliser"
				   lifestyle="transient"
				   type="MonitorWang.Core.Growl.GrowlCountNotificationFinaliser, MonitorWang.Core">
      <parameters>
        <Check>*</Check>
        <Threshold>2</Threshold>
        <HigherPriority>Emergency</HigherPriority>
        <HigherMessage></HigherMessage>
        <HigherIsSticky>true</HigherIsSticky>
        <LowerPriority>VeryLow</LowerPriority>
        <LowerMessage></LowerMessage>
        <LowerIsSticky>false</LowerIsSticky>
      </parameters>
    </component>
    -->
    
    <!-- Valid Values for OnSuccess, OnFailure are VeryLow, Normal, Moderate, High, Emergency -->
    <component id="GlobalGrowlSuccessNotificationFinaliser"
				   lifestyle="transient"
				   type="MonitorWang.Core.Growl.GrowlSuccessNotificationFinaliser, MonitorWang.Core">
      <parameters>
        <!-- Use the FriendlyId (check.castle.config) of the 
             HealthCheck you want to attach this finaliser to 
             or use * to apply to all -->
        <Check>*</Check>
        <OnSuccess>Normal</OnSuccess>
        <!-- Leave this blank to use the default message -->
        <SuccessMessage></SuccessMessage>
        <SuccessIsSticky>false</SuccessIsSticky>
        <OnFailure>Emergency</OnFailure>
        <!-- Leave this blank to use the default message -->
        <FailureMessage></FailureMessage>
        <FailureIsSticky>true</FailureIsSticky>      
      </parameters>
    </component>    
  </components>
</configuration>
