<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- START: COMPONENTS FOR GROWL PUBLISHERS -->
    <component id="GrowlConfiguration"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Growl.GrowlConfiguration, MonitorWang.Core">
      <parameters>
        <Enabled>true</Enabled>
        <FriendlyId>Growl</FriendlyId>
        <AppId>MonitorWang</AppId>
        <NotificationId>HealthCheck</NotificationId>
        <NotificationTitle>Platform HealthCheck</NotificationTitle>        
        <IconFile>growl\agent.png</IconFile>
        <!-- optional params  
				<Password></Password>
				<Hostname></Hostname>
				<Port></Port>
				-->
      </parameters>
    </component>
    <!-- END: COMPONENTS FOR GROWL PUBLISHERS -->

    <!-- START: COMPONENTS FOR SQLite PUBLISHERS -->
    <component id="SQLiteConfiguration"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Database.SQLite.SQLiteConfiguration, MonitorWang.Core">
      <parameters>        
        <Enabled>false</Enabled>
        <FriendlyId>SQLite</FriendlyId>
        <!-- This can be either the name of a connection string 
             (in config\data.connection.config) or an actual connection string -->
        <ConnectionString>MonitorWang-SQLite</ConnectionString>
      </parameters>
    </component>
    <!-- END: COMPONENTS FOR SQLite PUBLISHERS -->
    
    <!-- START: COMPONENTS FOR SQL SERVER PUBLISHERS -->
    <component id="SqlServerConfiguration"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Database.SqlServer.SqlServerConfiguration, MonitorWang.Core">
      <parameters>        
        <Enabled>false</Enabled>
        <FriendlyId>SqlServer</FriendlyId>
        <!-- This can be either the name of a connection string 
             (in config\data.connection.config) or an actual connection string -->
        <ConnectionString>MonitorWang</ConnectionString>
        <!-- Set this to true to store just the last result or false (or remove it)
             to store a history of results (if you wanted to graph something) -->
        <Overwrite>false</Overwrite>
      </parameters>
    </component>
    <!-- END: COMPONENTS FOR SQL SERVER PUBLISHERS -->
    
    <!-- START: COMPONENTS FOR WCF PUBLISHERS -->
    <component id="WcfPublisherConfiguration"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Wcf.WcfPublisherConfiguration, MonitorWang.Core">
      <parameters>        
        <Enabled>false</Enabled>
        <FriendlyId>Wcf</FriendlyId>
        <Uri>http://localhost:802/MonitorWang</Uri>
      </parameters>
    </component>
    <!-- END: COMPONENTS FOR WCF PUBLISHERS -->
    
    <!-- START: COMPONENTS FOR BUS PUBLISHERS -->
    <component id="BusPublisherConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Bus.BusPublisherConfig, MonitorWang.Core">
      <parameters>
        <Enabled>false</Enabled>
        <FriendlyId>NServiceBus</FriendlyId>
        <ErrorQueue>MonitorWangError</ErrorQueue>
        <InputQueue>MonitorWangInput</InputQueue>
        <OutputQueue>MonitorWangOutput</OutputQueue>
        <!-- Only required if using the Http Gateway
             This value is injected into the NSB message header in 
             order for the gateway service to route it to the correct server.
             Leave out (or blank) to ensure this is not set -->
        <HttpGatewayUri></HttpGatewayUri>
      </parameters>
    </component>
  </components>
</configuration>