<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- START: COMPONENTS FOR THE DEFAULT AGENT ROLE/PROFILE -->
    <component id="AgentConfiguration"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Interfaces.Entities.AgentConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <SiteId>SiteA</SiteId>
      </parameters>
    </component>
    <!-- END: COMPONENTS FOR THE DEFAULT AGENT ROLE/PROFILE -->

    <!-- START: COMMON COMPONENTS -->
    <component id="TypeDiscoveryConfig"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Interfaces.Entities.TypeDiscoveryConfig, MonitorWang.Core.Interfaces">
      <parameters>        
        <exclude>
          <list>
            <!-- Add new wildcardable assembly names to exclude here (one per item) -->
            <item>log4net.dll</item>            
            <item>magnum.dll</item>            
            <item>castle*.dll</item>            
            <item>growl*.dll</item>            
            <item>nservicebus*.dll</item>            
            <item>system*.dll</item>            
            <item>topshelf*.dll</item>            
          </list>
        </exclude>
      </parameters>
    </component>
    <!-- END: COMMON COMPONENTS -->
    
  </components>   
</configuration>