<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- START: SCHEDULER CONFIGURATIONS -->
    <component id="Every5Seconds"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Schedulers.HealthCheckIntervalSchedulerConfig, MonitorWang.Core">
      <parameters>
        <IntervalInSeconds>5</IntervalInSeconds>
      </parameters>
    </component>

    <component id="EveryMinute"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Schedulers.HealthCheckIntervalSchedulerConfig, MonitorWang.Core">
      <parameters>
        <IntervalInSeconds>60</IntervalInSeconds>
      </parameters>
    </component>
    
    <component id="Every90Seconds"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Schedulers.HealthCheckIntervalSchedulerConfig, MonitorWang.Core">
      <parameters>
        <IntervalInSeconds>90</IntervalInSeconds>
      </parameters>
    </component>
    
    <component id="Every30Minutes"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Schedulers.HealthCheckIntervalSchedulerConfig, MonitorWang.Core">
      <parameters>
        <IntervalInSeconds>1800</IntervalInSeconds>
      </parameters>
    </component>
        
    <component id="EveryHour"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Schedulers.HealthCheckIntervalSchedulerConfig, MonitorWang.Core">
      <parameters>
        <IntervalInSeconds>3600</IntervalInSeconds>
      </parameters>
    </component>
    
    <!-- 24/7 scheduler test -->
    <component id="Weekdays9to5"
				   lifestyle="singleton"
				   type="MonitorWang.Core.Schedulers.HealthCheckTwentyFourSevenSchedulerConfig, MonitorWang.Core">
      <parameters>
        <!-- optional, default is 60s - this the granularity of the
             timer and how often it checks for expired alarms -->
        <!--<IntervalInSeconds>10</IntervalInSeconds>-->
        
        <!-- Each item below takes a comma separated list of hours (hh:mm:ss or hh:mm)
             that it will execute the health check on. The items are additive
             so that you can combine any of them together, Everyday 9am + Monday 1pm
             would mean that Mondays it would execute 9am and 1pm and every other day
             just 9am.
        <Sunday></Sunday>
        <Monday></Monday>
        <Tuesday></Tuesday>
        <Wednesday></Wednesday>
        <Thursday></Thursday>
        <Friday></Friday>
        <Saturday></Saturday>
        <Everyday></Everyday>
        <Weekend></Weekend>
        -->
        <Weekdays>9:00,10:00,11:00,12:00,13:00,14:00,15:00,16:00,17:00</Weekdays>        
      </parameters>
    </component>
    <!-- END: SCHEDULER CONFIGURATIONS -->
  </components>
</configuration>