<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <components>
    <component id="EVTLogParserCheckBinding" lifestyle="singleton" type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>EventLogUSER32Config</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>

    <component id="IISLogParserCheckBindingConfig" lifestyle="singleton" type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>IISMainWebSite404CheckConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>

    <component id="IISW3CLogParserCheckBindingConfig" lifestyle="singleton" type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>IISW3CMainWebSite404CheckConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>

    <component id="TextLineLogParserCheckBindingConfig" lifestyle="singleton" type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>TextLineMonitorWangLogErrorCheckConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>

    <component id="CSVLogParserCheckBindingConfig" lifestyle="singleton" type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>CSVTestCheckConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>

    <component id="FSLogFileExistsCheckBindingConfig" lifestyle="singleton" type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>FSLogFileExistsCheckConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>

    <component id="REGMonitorWangInstalledCheckBindingConfig" lifestyle="singleton" type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>REGMonitorWangInstalledCheckConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>


    <component id="TSVLogParserCheckBindingConfig" lifestyle="singleton" type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>TSVTestCheckConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>


    <component id="URLSCANCheckBindingConfig" lifestyle="singleton" type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>URLSCANCheckConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>


    <component id="W3CFirewallDroppedPacketsCheckBindingConfig" lifestyle="singleton" type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>W3CFirewallDroppedPacketsCheckConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>


    <component id="XMLCheckIsEnabledCheckBindingConfig" lifestyle="singleton" type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>XMLCheckIsEnabledCheckConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>

  </components>
</configuration>