<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="OwlEnergyMonitorCheckBinding" lifestyle="singleton" 
               type="MonitorWang.Core.Interfaces.Entities.BindingConfiguration, MonitorWang.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>OwlEnergyMonitorCheckConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>
  </components>
</configuration>