<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="OwlEnergyMonitorCheckConfig" lifestyle="singleton" 
               type="MonitorWang.Contrib.Checks.Owl.OwlEnergyMonitorCheckConfig, MonitorWang.Contrib.Checks.Owl">
      <parameters>
        <ConnectionString>Data Source=C:\ProgramData\2SE\be.db; Read Only=True</ConnectionString>
        <FriendlyId>OwlEnergyMonitor</FriendlyId>
        <Enabled>false</Enabled>
      </parameters>
    </component>
  </components>
</configuration>